@import "font-awesome";

#my-form {
  width: 535px;
  // min-height: 650px;
  margin: 0 auto;
  // border: 1px solid blue;
  border-radius: 3px;
  position: relative;
}
.form-header {
  height: 75px;
  background: rgb(47, 135, 216);
  text-align: center;
  color: white;
  font-size: 36px;
  line-height: 65px;
}
.form-footer {
  background: rgb(200, 222, 241);
  height: 75px;
  width: 100%;
  // position: absolute;
  bottom: 0px;
}

input  {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#user-email {
  margin-left: 29px;
}
#user-last-name {
  margin-left: 58px;
}
#user-first-name {
  margin-left: 58px;
}
#user-phone {
  margin-left: 40px;
}
#user-mobile {
  margin-left: 48px;
}